{% extends 'base.html.twig' %}

{% block title %}Category #{{ categoryName }}{% endblock %}

{% block body %}

<a href="{{ path('program_index') }}">
<div id="WS2" >
      <span id="W2">Wild</span>
      <span id="S2">Series</span>
</div>
</a>


    <h1 id="CategoryName">{{categoryName }}</h1>
       {% for program in programs %}
        <p class="ProgTitre">{{ programs.title }}</p>

<div class="contenuSerie">


    <img id="IMGprog" src="{{programs.poster}}" alt="{{ programs.title }} poster">


    <div id="resume">
       <p>{{ programs.summary }}</p>
    </div>


</div>
<div>
    <a  href="{{ path("program_show", { id: programs.id }) }}"><button id="VoirFiche">Voir la fiche</button></a>
</div>

            {% else %}
        Aucune série trouvée.

            {% endfor %}
        </div>
    </div>

    <a href="{{ path('category_index') }}"><button id="Retour">Retour</button></a>
{% endblock %}