{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}

<div class="episodes">
    <h1>{{ program.title }}</h1>
    <p>Saison #{{ season.number }} {{episode.number}} {{episode.title}} {{episode.summary}}</p>

</div>
      <a href="{{ path('program_index') }}"><button id="Retour">Accueil</button></a>

{% endblock %}