{% extends 'base.html.twig' %}


{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}


    <h1>{{season.description}}</h1>

    <div class="episodes">
        <p>Tous les épisodes</p>
         {% for episode in season.episodes %}
             <li>
             <a href="{{ path("program_show_episode", { program_id: season.program.id, season_id:season.number, episode_id:episode.id}) }}">
             {{episode.title}}</a>
             </li>
             {% endfor %}
    </div>

      <a href="{{ path('program_index') }}"><button id="Retour">Acceuil</button></a>
{% endblock %}