    {% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<div class="contenuSerie">
    <div>
       <img id="IMGprog" src="{{program.poster}}" alt="{{ program.title }} poster">
    </div>

   <div id="TitreCategorie">
        <h1>{{ program.title }} </h1>
        <h2 id="categorie"> -  {{ program.category.name }} - </h2>
    </div>


    <div id="resume">
        <p>{{ program.summary }}</p>
    </div>
</div>

<div class="seasons">
    <p> Les saisons :</p>
        {% for season in program.seasons %}
        <li>
        <a href="{{ path("program_show_season", { program_id: program.id, season_id:season.number}) }}">
        {{season.description}}
        </a>
        </li>
        {% endfor %}
</div>

<strong>Acteurs :</strong>
<ul>
    {% for actor in program.actors %}
        <li>{{ actor.name }} </li>
    {% else %}
        <li>Aucun acteur pour cette série</li>
    {% endfor %}
</ul>


    <a href="{{ path('program_index') }}"><button id="Retour">Accueil</button></a>

{% endblock %}

