    {% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}

<a href="{{ path('program_index') }}">
<div id="WS2" >
      <span id="W2">Wild</span>
      <span id="S2">Series</span>
</div>
</a>

<div class="contenuSerie">
    <div>
       <img id="IMGprog" src="{{program.poster}}" alt="{{ program.title }} poster">
    </div>

   <div id="TitreCategorie">
        <h1>{{ program.title }} </h1>
        <h2 id="categorie"> -  {{ program.category.name }} - </h2>
    </div>


    <div id="resume">
        <p>{{ program.summary }}</p>
    </div>
</div>

<div class="seasons">
    <p> Les saisons :</p>
        {% for season in program.seasons %}
        <li>
        <a href="{{ path("program_show_season", { program_id: program.id, season_id:season.number}) }}">
        {{season.description}}
        </a>
        </li>
        {% endfor %}
</div>

    <a href="{{ path('program_index') }}"><button id="Retour">Acceuil</button></a>

{% endblock %}

